@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');


*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 80vw;
    font-family: "Winky Sans", sans-serif;
}
.navbar{
    display: flex;
    height: 67px;
    align-items: center;
    font-family: "Winky Sans", sans-serif;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}
.topleft{
    width: 50%;
    
}
.topright{
    width: 50%;
    
   
}
.section1{
  max-height: 100vh;
}
.section1 h1{
    font-size: 2rem;
}
.logo{
    font-size: 1.3rem;
    align-items: center;
    
}
.nor{
    width: 89px;
}
.topright .nap{
   width: 466px;
}
.section2 {
    padding: 73px;
}
.section2 h1{
    font-size: 2.3rem;
}
.section2 p{
    padding: 0 8vw;
    text-align: center;
}
.box{
    padding: 8px 0;
    margin:  12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(38, 129, 169);
    text-align: center;
    border-radius: 8px;
}
.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
}
.box h2{
    font-size: 2rem;
    padding: 15px 0;
}
.box ul{
    list-style: none;
}
.box ul li{
   margin: 12px 2px;
}
.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
}
.section3 table th{ 
    
     width: 23vw;
    border-bottom: 2px solid black;
    padding: 15px 0;
    text-align: center;
    
} 
.section3 table td{
    border-bottom: 2px solid black;
    text-align: center;
    
   }

.section2 h1{
    font-size: 2.3rem;
}
.section3 {
   padding: 73px;
}
   .section3 {
  padding: 40px 0;
 
}
  .section3 {
  padding: 40px 0;
 
}
footer{
    padding: 23px;
    text-align: center;
}
.font{
    margin: 4px;
    font-size: large;
}






